* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f6f7fb;
  display: block;
}

h1 {
  font-size: 24px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "side main"
    "footer footer";
  grid-template-columns: 256px 1fr;
  grid-template-rows: 66px auto 33px;
  min-height: 100vh;
  background-color: white;
  border: 1px solid #ccc;
  position: relative;
}

/* Header */

header {
  grid-area: header;
  background: linear-gradient(to bottom, #3d79e9, #87cefa);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #baeaf8;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border-radius: 5px;
  box-shadow: 3px 3px #b2b2b2;
}

/* NAVIGATION */

nav {
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  background: #bcd2f9;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 0 20px;
  height: 30px;
  z-index: 10;
  box-shadow: 3px 3px 8px #b2b2b2;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: orange;
}

/* SIDE */

aside {
  grid-area: side;
  margin-top: 30px;
  margin-right: 10px;
}

aside h3 {
  text-align: center;
  color: #bca9af;
  margin: 0;
}

aside button {
  padding: 2px 4px;
  border: none;
  background: none;
  color: #bca9af;
}

.news {
  margin-bottom: 3px;
  border: 1px solid #bca9af;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5e4cd;
  padding: 5px 10px;
  border-radius: 3px;
}

.news p {
  color: #1b45df;
}

.toggle-btn-left {
  cursor: pointer;
}

.toggle-btn-right {
  cursor: ns-resize;
  font-size: 22px;
  font-weight: 700;
}

/* MAIN */

main {
  grid-area: main;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 4px;
}

main .main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 5px 20px;
}

.text-format {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* FOOTER */

footer {
  grid-area: footer;
  text-align: center;
}
