* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f6f7fb;
  display: block;
  height: 100%;
}

h1 {
  font-size: 24px;
}

.container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "side main"
    "footer footer";
  grid-template-columns: 256px 1fr;
  grid-template-rows: 66px auto 33px;
  min-height: 100vh;
  background-color: #f6f7fb;
  position: relative;
}

/* Header */

header {
  grid-area: header;
  background: linear-gradient(to bottom, #3d79e9, #87cefa);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #baeaf8;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border-radius: 5px;
  box-shadow: 3px 3px #b2b2b2;
}

/* NAVIGATION */

nav {
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  background: #bcd2f9;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 0 20px;
  height: 30px;
  z-index: 10;
  box-shadow: 3px 3px 8px #b2b2b2;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: orange;
}

/* SIDE */

aside {
  grid-area: side;
  margin-top: 30px;
  margin-right: 10px;
}

aside h3 {
  text-align: center;
  color: #bca9af;
  margin: 0;
}

aside button {
  padding: 2px 4px;
  border: none;
  background: none;
  color: #bca9af;
}

.news {
  margin-bottom: 3px;
  border: 1px solid #bca9af;
}

.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5e4cd;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 24px;
}

.news p {
  color: #1b45df;
}

.toggle-btn-left {
  cursor: pointer;
}

.toggle-btn-right {
  cursor: ns-resize;
  font-size: 22px;
  font-weight: 700;
}

/* MAIN */

/* Process Text */

main {
  grid-area: main;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.process-text {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
}

.content {
  padding: 10px;
  font-size: 24px;
}

main .main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #b8e4ff, #707fd7);
  color: white;
  padding: 5px 20px;
}

main .main-header h2 {
  font-size: 20px;
}

.text-controls button {
  background-color: #5078e7;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 5px 10px;
}

.text-controls button:hover {
  cursor: pointer;
}

.text-format {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text-format #sample-text {
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
}

.text-format #edit-highlight {
  background: #1b45df;
  border: none;
  border-radius: 30px;
  font-size: 28px;
}

.text-format #sample-text-bg-button:hover {
  cursor: pointer;
}

.text-format #edit-highlight:hover {
  cursor: pointer;
}

/* Drag & Drop */

main .drag-drop {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid black;
  overflow: auto;
}

main .dd-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #b8e4ff, #707fd7);
  color: white;
  padding: 10px 20px;
  flex-shrink: 0;
}

/*Nut lua chon con giap */

.item-select {
  width: 100px;
  position: relative;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #4a90e2;
  border-radius: 10px;
  padding: 6px 10px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
}

.divider {
  width: 1px;
  height: 22px;
  background-color: #ccc;
  margin: 0 8px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid green;
}

.options {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  list-style: none;
  padding: 4px 0;
  margin: 0;
  z-index: 10;
}

.options li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  cursor: pointer;
}

.options li:hover,
.options li.selected-option {
  background-color: #2b6ef3;
  border-radius: 8px;
}

.icon-select.open .options {
  display: block;
}

/*----*/

.dd-header button {
  color: white;
  background-color: #5078e7;
  border: none;
  padding: 8px;
  border-radius: 40px;
  font-size: 18px;
}

.add-button {
  display: flex;
  padding-right: 40%;
  gap: 10px;
}

.dd-content {
  display: flex;
  flex-grow: 1;
  min-height: 0;
  padding: 10px;
}

/* FOOTER */

footer {
  grid-area: footer;
  background-color: #f7dfae;
  margin-top: 8px;
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer a {
  color: orange;
}
