* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f6f7fb;
  display: block;
}

h1 {
  font-size: 24px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "side main"
    "footer footer";
  grid-template-columns: 256px 1fr;
  grid-template-rows: 66px auto 33px;
  min-height: 100vh;
  background-color: white;
  border: 1px solid #ccc;
  position: relative;
}

header {
  grid-area: header;
  background: linear-gradient(to bottom, #3d79e9, #87cefa);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #baeaf8;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border-radius: 5px;
  box-shadow: 3px 3px #b2b2b2;
}

nav {
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  background: #bcd2f9;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 0 20px;
  height: 30px;
  z-index: 10;
  box-shadow: 3px 3px 8px #b2b2b2;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: orange;
}

aside {
  grid-area: side;
  margin-top: 30px;
}

aside h3 {
  text-align: center;
  color: #ffde88;
  background-color: #e99130;
}

main {
  grid-area: main;
  margin-top: 30px;
}

main .main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  grid-area: footer;
  text-align: center;
}
